:root {
  --blue: rgb(0, 128, 255);
}
html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
  transition: all 0.5s linear;
}
::selection {
  background: #666;
  color: #ffffff;
}
/* هبدة مهندس */
header #menu_bar .logo {
  background-color: transparent;
}
/* سيب الهبده */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  z-index: 1000;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}
header .logo::first-letter {
  color: var(--blue);
}

header .logo span {
  color: var(--blue);
}
header .navBar a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0.8rem;
  cursor: pointer;
}

header .navBar a:hover {
  color: var(--blue);
}
header .icon i {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icon i:hover {
  color: var(--blue);
}

header .search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  z-index: 1200;
  padding: 1.5rem 2rem;
  border-top: 0.1rem solid #333;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-form.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-form #search-Bar {
  width: 100%;
  padding: 1rem;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}
header .search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1.5rem;
}
header .search-form label:hover {
  color: var(--blue);
}
/* End Header Style  */

/* Start Div Login Style */
.loginForm {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}
.loginForm.active {
  top: 0;
}
.loginForm form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 50rem;
}

.loginForm form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
}
.loginForm form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgb(0, 0, 0, 0.3);
  text-transform: none;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  color: var(--blue);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  color: #fff;
  background-color: var(--blue);
}
.loginForm form .btn {
  display: block;
  width: 100%;
}
.loginForm form #remember {
  margin: 2rem 0;
}
.loginForm form label {
  font-size: 1.5rem;
}
.loginForm form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}
.loginForm form p a {
  color: var(--blue);
}

#form-close {
  position: absolute;
  top: 2rem;
  right: 5rem;
  font-size: 3.5rem;
  cursor: pointer;
  color: #fff;
}
#menu_bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  #menu_bar {
    display: initial;
  }
  header .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    border-top: 0.1rem solid rgb(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navBar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navBar a {
    display: block;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #fff;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #333;
  }
  header .navBar a:hover {
    background-color: rgba(113, 111, 111, 0.333);
  }
  html {
    font-size: 50%;
  }
}
/* End Header  */

.serv-ices {
  min-height: 100vh;
  width: 100;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../image/PortfolioVoltron-HP-Hero-D-928x398.avif);
  background-position: center;
  background-size: cover  ;
  background-repeat: no-repeat;
  color: #000;
}
.serv-ices .contant {
  height: 100%;
  width: 100%;
  color: #000;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.serv-ices .contant h1 {
  font-size : 50px;
  padding-bottom: 50px;
}
.serv-ices .contant p {
  font-size: 25px;
  font-weight: 600;
}

.hidden {
  text-align: center;
  padding: 2.5rem 0;
}
.hidden span {
  font-size: 3.5rem;
  background-color: var(--blue);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
/* Start Services Section */
.services {
  padding-bottom: 5rem;
  color: #000;
}
.services .container {
  display: flex;
  flex-wrap: wrap;
  gap: 5.5rem;
  padding: 1rem 5rem;
}
.container .boxs {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.container .boxs i {
  padding: 1rem;
  font-size: 5rem;
  color: var(--blue);
}
.container .boxs h3 {
  font-size: 2.5rem;
  color: #333;
}
.container .boxs p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.container .boxs:hover {
  box-shadow: 0 1rem 3rem var(--blue);
  cursor: pointer;
}

/* End Section Three */
/* ////////////////////////////////////////////////////////////////////////////////// */
.footer {
  background-color: #333;
}
.footer .boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 5rem;
}
.footer .boxContainer .box {
  padding: 1rem;
  flex: 1 1 25rem;
}
.footer .boxContainer .box h3 {
  font-size: 2.5rem;
  padding: 0.7rem 0;
  color: #fff;
}
.footer .boxContainer .box p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}
.footer .boxContainer .box a {
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
  display: block;
}
.footer .boxContainer .box a:hover {
  color: var(--blue);
  text-decoration: underline;
}
.footer .created {
  text-align: center;
  padding: 2rem 1rem;
  /* margin: 1rem; */
  font-weight: normal;
  font-size: 2rem;
  color: #fff;
}
.footer .created span {
  color: var(--blue);
}
